.game-details-text {
  .swiper-contain {
    width: 600px;
    .mySwiper2 {
      width: 600px;
      height: 337px;
      margin-bottom: 4px;
      img {
        height: 100%;
      }
    }

    .mySwiper3 {
      width: 600px;
      height: 65px;
      .swiper-slide {
        width: 116px;
        height: 65px;
      }
    }
  }

  .swiper,
  .swiper-slide-thumb-active {
    opacity: 8 !important;
  }

  .main-text {
    p {
      font-size: 0.75em !important;
    }
  }
  .main-details {
    p {
      font-size: 0.6em;
      font-style: bold;
    }
    .details {
      border-bottom: 1px solid hsla(0, 0%, 100%, 0.7);
      border-color: rgba($color: #000, $alpha: 0.4);
    }
  }
}

.game-details-card {
  .price {
    span {
      font-size: 1.24em;
    }
    .discount-span {
      font-size: 0.7em;
    }
  }

  .cart-btn {
    font-size: 0.7em !important;
  }
}

.game-main-details {
  p,
  .lead {
    font-size: 0.9em;
  }
  .specs {
    ul {
      font-size: 0.75em !important;
    }
  }
}

.font-1 {
  font-size: 0.57em;
  font-style: normal;
  color: #ccc;
}
