.logo-img {
  width: 150px;
}

.logo {
  font-size: 1.4em;
  .main-brand {
    font-family: "Attitude", Courier, monospace;
  }
  .extra-brand {
    font-family: "Bogart", Courier, monospace;
  }
}
.search-section {
  width: 70%;
}
